body{
	background-color: #CECDCD;
	width: 1400px;
	height: 800px;
}
div{
	 background-color: white;
	 width: 520px;
	 height: 760px;
	 padding-bottom: 20px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 460px;
}
img{
	height: 150px;
	margin-left: 200px;
	margin-right: 50px;
}
ul{
	-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
	 -webkit-margin-start: 10px;
	-webkit-margin-end: 0px;
	 -webkit-padding-start: 40px;
}